.box {
    float: left;
    margin-bottom: 30px;

    background-color: lightpink;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: auto;

}   
/*margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;*/
.co {
    margin-bottom: 30px;
    font-family: 'Spartan', sans-serif;
}

.pageDivide{
    width: 50%;
    height: auto;
    background-color: burlywood;
}

/*background: blue;
border: white;
border-style:solid;*/
.leftPage{
    margin: 10px;
    margin-left: 20px;
    width: 15%;

    float: left;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

/*border: white;
border-style:solid;
   height: 700px;
background: green;*/
.rightPage{
    margin: 10px;
    margin-right: 20px;
    width: 80%;
    float: right;
    background-color: lightpink;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.adminHead {
    font-family: 'Sofia';
    font-size: xx-large;
    margin: 20px;
    text-align: center;
}

.admHead {
    font-family: 'Spartan', sans-serif;
    font-size: large;
    margin: 10px;
    
}

.adButton {
    margin: 10px;
}

.adTop {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.row {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: flex-start;
align-items: start;
}

.formBox {
    width: auto;
    height: auto;
    margin: 10px;
    background-color: white;
    border: peachpuff;
    border-style:solid;
    
}

.buf {
    margin: 10px;
}

.headLeft {
    float: left;


}

.headRight {
    float: right;

    margin: 10px;
}

.header {
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.serviceButton {
    margin: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
}

.adminContainer {
    height: 2000px;
}