.confirm{
        margin: 0 auto;
        border: none;
        width: fit-content;
        font-weight: bold;
        font-size: 2rem;
}
.confirm-body{
        border: none;
        width: fit-content;
        margin: 0 auto;
}
.container123{
        min-width: 600px;
        max-width: 900px;
        height:700px, auto;
        background: lightpink;
        margin: 50px auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        width: fit-content;
    }