.forgotContainer {
    background-color: lightpink;
    width: 50%;
    min-width: 400px;
    height: 50%;
    padding: 10px;
    margin: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
}

.instructionText {
    margin: 10px;
    font-family: 'Spartan', sans-serif;
}
