/* .cardDeck{
    display: 'flex';
    flex-direction: 'row';
}
.card{
    flex: 7;
}
.rowDelete {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    orientation: center;
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
    width: 98%;
  } */


  .pinkBackground{
      background-color: lightpink;
  }


  .centeraligned{
      text-align: center;
  }

  .wrapper:nth-child(){
      background: red;
      color: white;
    grid-template-columns: 2fr, 2fr
  }

  .headFont {
    font-family: 'Sofia';
    font-size: xx-large;
    margin: 20px;
    text-align: center;
  }

  .slideResize {
    width: 250px;
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;
  }

/* .rowDeleteCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    orientation: center;
    align-items: center;
    width: 98%;
}
  
  .columnDelete {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .largecolumnDelete {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 5;
  }

  .blue-columnDelete{
      background-color: blue;
      height: 100px;
  }
  .pink-columnDelete{
    background-color: pink;
    height: 100px;
} */
