.review-block {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}   

.name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

.stars {
    margin-top: 5px;
    margin-bottom: 5px;
}

.content {
    margin-bottom: 30px;
    font-family: 'Spartan', sans-serif;
}