.payments{
    /* display: flex;
    width: fit-content;
    background-color: #FFB6C1;
    color: white; */
    float: left;
    left: 30%;
    background-color: lightpink;
    margin: 5%;
    
}
#pay{
    float: center;
    margin: 5%;
    background-color: lightpink;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#sq-payment-form {
    color: black;
   }
