body {
    margin: 0;
}

.Home {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

.home-grid{
    display: grid;
    grid-template-columns:  2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 6fr;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: start;
    }

.col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: start;
    }

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #F8E5E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    columns: #000000;;
}
*/