body {
    margin: 0;
}

.home {
    display: grid;
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 20px [row1-end] 100px [third-line] auto [last-line];
}


.contact_card {
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

}

/*
.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #F8E5E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    columns: #000000;;
}
*/