.loginCardCenter{
    display: flex;
    justify-content: center;
    flex-direction: row;    
}

.deleteCardCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;
}

.cardMax {
    max-width: 250px;
    max-height: 250px;
}

img.card-img-top {
    max-height: 250px;
    max-width: 250px;
}