.loginCardCenter{
    display: flex;
    justify-content: center;
    flex-direction: row;    
}

.deleteCardCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;
}

.cardMax {
    max-width: 250px;
    max-height: 250px;
}
@media only screen and (max-width: 800px) {
    #loginCardCenter{
        margin-top: 0%;
    }
    .ui.card{
        width: 60%;
        height: 60%;
        margin-top: 20%

    }
}

img.card-img-top {
    max-height: 250px;
    max-width: 250px;
}