.layout{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-column-end: span 1;

}

.header {
    background: #F8E5E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.nav-logo {
    display:flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
}


.nav-items {
    flex-grow: 6;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-link {
    background-color: #FA255E;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #C39EA0;
}

