.layout{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-column-end: span 1;
}

.nav-bar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comp {
    background:lightpink;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mobilebar {
    background:lightpink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#logo{
    align-items: right;
    justify-content: right;
    order: 2;

}

#dropdown{
    align-items: left;
    justify-content: left;
    order: 1;
    flex:1;
}
.nav-logo {
    flex: 2;
    display:flex;
    flex-grow: 1;
    align-items: left;
    justify-content: left;
    width: fit-content;
}


.nav-items {
    flex-grow: 1;
    display:flex;
    align-items: center;
    justify-content: left;
    justify-self: left;

}

.info {
    display:flex;
    flex-grow: 2;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    font-size: medium;
    color:white;
}

.address{
    margin: 0;
    padding:0;
}

.nav-link {
    background-color: lightpink;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Sofia';
    font-size: large;
    
}

.nav-link:hover {
    background-color: lightpink;
    color: white;
}