.layout{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-column-end: span 1;

}

.header {
    background: #fffcf3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.nav-logo {
    display:flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}


.nav-items {
    flex-grow: 6;
    display:flex;
    align-items: center;
    justify-content: center;
}

.info {
    display:flex;
    flex-grow: 2;
    align-items: center;
}

.address{
    margin: 0;
    padding:0;
}

.nav-link {
    background-color: #f6a5b8;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #f58aa3;
    color: black;
}

