.script {
	font-family: 'Sofia';
}

.type {
	font-family: 'Spartan', sans-serif;
}

.time-picker{
	width: 33%;
}

.container124{
	min-width: 400px;
	max-width: 500px;
	height:700px, auto;
	background: lightpink;
	margin: 50px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	width: fit-content;
}

.new-time-header{
	margin: 0 auto;
	border: none;
	width: fit-content;
	font-weight: bold;
	font-size: 2rem;
}

.new-time{
	margin: 0 auto;
	border: none;
	width: fit-content;
}

.pageBuf {
	margin: 100px;
}

.rangeInstructions {
	font-family: 'Spartan', sans-serif;
	margin: 10px;
}

.resize {
	width: 250px;
}

.submitBar {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    align-items: flex-start;
}

.rangeContainer {
	width: 25%;
    min-width: 750px;
    height: 50%;
	background: lightpink;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}