

.card {
	margin-top: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: fit-content;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head {
	font-family: 'Spartan', sans-serif;
	font-size: xx-large;
}

.infoHead {
	font-family: 'Spartan', sans-serif;
	font-size: larger;
}

.infoBody {
	font-family: 'Spartan', sans-serif;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .ui.card,
.ui.cards>.card {
  background-color: lightpink;
}

.addressContainer {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
	align-items: flex-start;
	font-family: 'Spartan', sans-serif;
}
@media only screen and (max-width: 800px) {
    .ui.card{
        width: 100vh;
		height: 100vh;
		padding: 3px;
	}
	.head{
		padding: 0%;
		position: relative;
		position: 50px,50px;
	}
    .card{
        width: 100vh;
        height: 100vh;
	}
	.content{
	}    
}
.buf {
	margin: 0px;
}