  .content.carousel {
    background-image: url(http://www.google.com);
} 
#Slides{
    max-width: 400px;
    /*margin-right: auto;
    left: auto;
    justify-content: start;*/
    height: 600px;
    margin-left: 290px;
    margin-top: -540px; 
    padding: 20px;
   
}  
/* #hor{
    height: 800px;
    width: 800px;
    margin-left: 290px;
    margin-top: -540px; 
    padding: 20px;
    box-shadow: black;
} */
/*Image{
    size:'tiny'
}*/