.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
	align-items: stretch;
    margin-top: 30px;
}

.serviceTitle {
	font-family: 'Sofia';
}

.description {
	font-family: 'Spartan', sans-serif;
}
@media only screen and (max-width: 800px) {

.ui.pink.card{
    height: fit-content;
}
}